body {
  max-width: 600px;
  margin: 0 auto;
  padding: 15px;
  font-size: 18px;
  line-height: 33px;
  background: #e4e1ea;
  color: #333138;
  font-family: 'Bitter';
}
header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
a {
  color: #4505b5;
}
h1 {
  padding: 1em;
  color: #114e51;
  font-size: 50px;
  line-height: normal;
  font-family: 'Alice';
  font-weight: 700;
}
ul {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
}
