@font-face {
  font-family: 'Gap';
  src: url('./fonts/GapSansBold.ttf');
}
@media all and (min-width: 400px) {
  #info {
    font-family: 'Gap';
    letter-spacing: 0.25rem;
    pointer-events: all;
    z-index: -10;
    position: absolute;
    row-gap: 20rem;
    column-gap: 5rem;
    margin: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 150%;
    max-width: 80rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-template-rows: repeat(5, 300px);
    grid-template-areas: '. zach . shrmn' 'owl owl owl .' 'writing . . e-worm' 'arena arena . code';
  }
  #info > div > * {
    padding: 2rem;
  }
  #zach {
    grid-area: zach;
    white-space: nowrap;
    position: relative;
    right: 5rem;
  }
  #code {
    grid-area: code;
    position: relative;
    top: 10rem;
  }
}
@media all and (max-width: 400px) {
  #info {
    /* margin-top: 15rem; */
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
  }
  #info div {
    margin: 2rem;
    margin-top: 6rem;
  }
  #zach {
    position: relative;
    left: 6rem;
    top: 2rem;
    width: 10rem;
  }
  #owl {
    margin-top: 12rem !important;
  }
  #spsh {
    overflow-x: hidden;
  }
}

p,
ul,
li,
a {
  font-size: 1.5rem;
}

ul {
  list-style-type: 'â†';
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin: 0;
}
ul li {
  padding: 1rem;
}

#zach p {
  border: 4px dashed darkcyan;
}

#owl {
  grid-area: owl;
  border-left: 4px solid darkblue;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

#e-worm {
  grid-area: e-worm;
}
#e-worm > * {
  border: 4px solid fuchsia;
}

#writing {
  grid-area: writing;
}
#writing > * {
  border-bottom: 4px double black;
  border-top: 4px double black;
}

#shrmn {
  grid-area: shrmn;
}

#arena {
  grid-area: arena;
}
#arena > * {
  border: 4px dotted blue;
}

footer {
  font-family: 'Gap';
  letter-spacing: 0.25rem;
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
}
#hang {
  box-shadow: -1rem 1rem blue;
}
