@font-face {
  font-family: 'Mixo';
  src: url('/fonts/VTF_Mixo.otf');
}
@font-face {
  font-family: 'Format';
  src: url('/fonts/Format_1452.woff');
}
@font-face {
  font-family: 'Faune-Text_Regular';
  src: url('/fonts/Faune-Text_Regular.woff');
}
@media (max-width: 550px) {
  .tabs li {
    font-size: 0.7em;
  }
  main {
    margin: 2em 0 8em 0;
  }
}
@media (min-width: 550px) {
  .tabs li {
    font-size: 1.25em;
  }
  main {
    margin: 2em 0 5em 0;
  }
}

.bg-pink {
  background-color: rgb(255, 233, 239);
}
.text-purple {
  color: rgb(32, 0, 75);
}
html {
  overflow-x: hidden;
}
::selection {
  background: rgb(255, 244, 97);
}
.font-faune {
  line-height: 1.5em;
  font-family: 'Faune-Text_Regular';
}
.font-mixo {
  font-family: 'Mixo';
  font-size: 2em;
}
.font-format {
  line-height: 1.5em;
  font-family: 'Format';
  font-size: 2em;
  margin-top: 0;
}
p,
code {
  font-size: 1.1em;
}
a {
  color: rgb(240, 10, 209);
  font-weight: bold;
}
.center {
  margin: 0 auto;
}
.flex-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.between {
  justify-content: space-between;
}
.flex-center {
  justify-content: center;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 650px;
}
.column > * {
  display: inline-block;
}
.font-bold {
  font-weight: bold;
}
.padding-left {
  padding-left: 2em;
}
.bg-blue {
  background-color: darkblue;
}
.text-pink {
  color: pink;
}
.box-shadow-blue {
  border: solid 3px cornflowerblue;
  box-shadow: 0.25em 0.25em darkblue;
  background-color: rgb(245, 236, 237);
}
.box-shadow-blue:active {
  box-shadow: none;
  transform: translate(0.25em, 0.25em);
}
.button {
  max-width: 200px;
  text-align: center;
  font-size: 1.25em;
}
.no-top {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
.no-bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
.padding-lr {
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.padding-tb {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
.margin-bottom {
  margin-bottom: 2em;
}
.space-children > * + * {
  margin-top: 2em;
}
.border-light {
  border: 2px dashed lightgray;
}
video,
img {
  width: 100%;
  height: auto;
}
.underline {
  text-decoration: underline;
}
.pointer {
  cursor: pointer;
}
code {
  background: lightgrey;
  padding: 0.25em;
}
fieldset {
  max-width: 600px;
}
.tabs {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.tabs li {
  font-weight: bold;
  padding: 0.25em 0.5em;
  cursor: pointer;
}
.tabs li:hover,
.tabs li.active {
  background: rgb(255, 233, 239);
  color: darkblue;
}
[data-tab-content] {
  display: none;
}
.active[data-tab-content] {
  display: block;
}
