:root {
  --pink: #ffbfd2;
  --grey: #babeca;
  --lightgrey: #e0e2e7;
  --darkgrey: #21212c;
  --darkblue: #74a3fa;
  --green: #c4eebe;
  --blue: #c3e5f5;
  --yellow: #f5efb8;
}

@font-face {
  font-family: 'Mixo';
  src: url('/fonts/VTF_Mixo.otf');
}
@font-face {
  font-family: 'Format';
  src: url('/fonts/Format_1452.woff');
}
@font-face {
  font-family: 'Faune-Text_Regular';
  src: url('/fonts/Faune-Text_Regular.woff');
}
@media (max-width: 550px) {
  .tabs li {
    font-size: 0.7em;
  }
}
@media (max-width: 1000px) {
  main {
    margin-bottom: 8em;
  }
}
@media (min-width: 550px) {
  .tabs li {
    font-size: 1.25em;
  }
}
@media (min-width: 1000px) {
  main {
    margin-bottom: 5em;
  }
}

.bg-pink {
  background-color: var(--pink);
}
.bg-grey {
  background-color: var(--grey);
}
.bg-blue {
  background-color: var(--blue);
}
.bg-green {
  background-color: var(--green);
}
.bg-yellow {
  background-color: var(--yellow);
}
.text-grey {
  color: var(--darkgrey);
}
.boxes-blue {
  border-color: var(--blue);
}
.boxes-blue .box {
  background-color: var(--lightgrey);
  border: 2px solid var(--darkgrey);
  box-shadow: 0.3em 0.3em var(--blue);
}
.boxes-yellow {
  border-color: var(--yellow);
}
.boxes-yellow .box {
  background-color: var(--lightgrey);
  border: 2px solid var(--darkgrey);
  box-shadow: 0.3em 0.3em var(--yellow);
}
.boxes-pink {
  border-color: var(--pink);
}
.boxes-pink .box {
  background-color: var(--lightgrey);
  border: 2px solid var(--darkgrey);
  box-shadow: 0.3em 0.3em var(--pink);
}
.boxes-green {
  border-color: var(--green);
}
.boxes-green .box {
  background-color: var(--lightgrey);
  border: 2px solid var(--darkgrey);
  box-shadow: 0.3em 0.3em var(--green);
}
.border-dashed {
  border-style: dashed;
  border-width: 3px;
}
.box:active {
  box-shadow: none;
  transform: translate(0.3em, 0.3em);
}
::selection {
  background: var(--yellow);
}
a {
  color: var(--darkblue);
  font-weight: bold;
}
code {
  background: var(--blue);
  padding: 0.25em;
}
.tabs li:hover,
.tabs li.active {
  background-color: var(--darkgrey);
}
.active-yellow:hover,
.active-yellow.active {
  color: var(--yellow);
}
.active-blue:hover,
.active-blue.active {
  color: var(--blue);
}
.active-green:hover,
.active-green.active {
  color: var(--green);
}
.active-pink:hover,
.active-pink.active {
  color: var(--pink);
}
html {
  overflow-x: hidden;
}
.font-faune {
  line-height: 1.5em;
  font-family: 'Faune-Text_Regular';
}
.font-mixo {
  font-family: 'Mixo';
  font-size: 2em;
}
.font-format {
  line-height: 1.5em;
  font-family: 'Format';
  font-size: 2em;
  margin-top: 0;
}
p,
code {
  font-size: 1.1em;
}
.center {
  margin: 0 auto;
}
.flex-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.between {
  justify-content: space-between;
}
.flex-center {
  justify-content: center;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 650px;
}
.column > * {
  display: inline-block;
}
.font-bold {
  font-weight: bold;
}
.padding-left {
  padding-left: 2em;
}
.button {
  max-width: 200px;
  text-align: center;
  font-size: 1.25em;
}
.no-top {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
.no-bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
.padding-lr {
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.padding-tb {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
.margin-bottom {
  margin-bottom: 2em;
}
.space-children > * + * + * {
  margin-top: 2em;
}
video,
img {
  width: 100%;
  height: auto;
}
.underline {
  text-decoration: underline;
}
.pointer {
  cursor: pointer;
}
fieldset {
  max-width: 600px;
  margin-top: 3em !important;
}
.tabs {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.tabs li {
  font-weight: bold;
  padding: 0.25em 0.5em;
  cursor: pointer;
  flex: auto;
  text-align: center;
}
[data-tab-content] {
  display: none;
}
.active[data-tab-content] {
  display: block;
}
