@font-face {
  font-family: "Mixo";
  src: url("/fonts/VTF_Mixo.otf");
}
@font-face {
  font-family: "Format";
  src: url("/fonts/Format_1452.woff");
}
@font-face {
  font-family: "Faune-Text_Regular";
  src: url("/fonts/Faune-Text_Regular.woff");
}
.bg-pink {
  background-color: rgb(255, 233, 239);
}
.text-purple {
  color: rgb(32, 0, 75);
}
html {
  overflow-x: hidden;
}
::selection {
  background: rgb(255, 244, 97);
}
.font-faune {
  line-height: 1.5em;
  font-family: "Faune-Text_Regular";
}
.font-mixo {
  font-family: "Mixo";
  font-size: 4em;
}
.font-format {
  line-height: 1.5em;
  font-family: "Format";
  font-size: 2em;
  margin-top: 0;
}
p {
  font-size: 1.1em;
}
a {
  color: rgb(240, 10, 209);
  font-weight: bold;
}
.center {
  margin: 0 auto;
}
.flex-row {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: space-around;
}
.flex-row > * {
  flex: 1;
  max-width: 400px;
  margin: 3em;
}
.flex-row h2 {
  font-size: 1.5em;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 650px;
}
.column > * {
  display: inline-block;
}
.font-bold {
  font-weight: bold;
}
.padding-left {
  padding-left: 2em;
}
.bg-blue {
  background-color: darkblue;
}
.text-pink {
  color: pink;
}
.box-shadow-blue {
  border: solid 3px cornflowerblue;
  box-shadow: 1em 1em darkblue;
  background-color: rgb(245, 236, 237);
}
.box-shadow-blue:active {
  box-shadow: none;
  transform: translate(1em, 1em);
}
.button {
  max-width: 200px;
  text-align: center;
  font-size: 1.25em;
}
.no-top {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
.no-bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
.padding-lr {
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.padding-tb {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
.margin-bottom {
  margin-bottom: 2em;
}
.space-children > * + * {
  margin-top: 2em;
}
.border-light {
  border: 2px dashed lightgray;
}
video,
img {
  width: 100%;
  height: auto;
}
